/*Tag Selectors*/
  body {
    background-color: #eaf6f6;
  }

  hr {
    border-style: dotted none none;
    border-width: 5px;
    border-color: grey;
    width: 3%;
  }

  h1 {
    color: #66bfbf;
  }

  h3{
    color: #66bfbf;
  }

img{
  height: 100px;
}

/*Class Selectors*/
 .ii{
    width: auto;
    height: 14px;
  }

.Contact{

}

.link{
  
}
